.kanban.new{
  min-height: 223px;
}
.kanban.new .kanban_title{
  height: 100px;
  margin-right: 3px;
  border: 1px solid #b0bec5;
  border-radius: 5px;
}

.kanban.new .kanban_heading{
  color: #ffb300;
  margin: 2px 0px 14px;
}

.kanban.new .addbutt{
  background: #ffb300ad;
  position: absolute;
  left: 0;
  right: 0px;
  bottom: 0;
  width: 100%;
  padding: 16px;
}
